<ul class="gallery">
  {{#each hits}}
  <li class="card__image" style="width: 33.3333%;" >
    <div class="photo-card" class= "modal" style="text-align: center;">
      <img src="{{webformatURL}}" alt="image" srcset ="{{largeImageURL}}" style="width:400px; height:300px; object-fit:cover;" />
      <div class="stats">
        <p class="stats-item">
          <i class="material-icons">thumb_up</i>
          {{likes}}
        </p>
        <p class="stats-item">
          <i class="material-icons">visibility</i>
          {{views}}
        </p>
        <p class="stats-item">
          <i class="material-icons">comment</i>
          {{comments}}
        </p>
        <p class="stats-item">
          <i class="material-icons">cloud_download</i>
          {{downloads}}
        </p>
      </div>
    </div>
  </li>
  {{/each}}
</ul>